<footer class="footer">
  <div class="container">
    <ul class="social-icons">
      <li>
        <a target="_blank" href="mailto:gabrielaraujofe@gmail.com" class="text-secondary">
          <i class="far fa-envelope"></i> Email
        </a>
      </li>      
      <li>
        <a target="_blank" href="https://scholar.google.com/citations?user=pRzzxRkAAAAJ&hl=en" class="text-secondary">
          <span class="ai ai-google-scholar"></span> Google Scholar
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/gabrielaraujofe/" class="text-secondary">
          <i class="fab fa-linkedin-in"></i> LinkedIn
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/gabrujo" class="text-secondary">
          <i class="fab fa-github"></i> GitHub
        </a>
      </li>
    </ul>
    <div class="copyright">
      <span>
        <i class="fas fa-copyright text-black bg-white"></i>
        <span class="mx-1">Gabriel Ferreira Araujo</span>
      </span>      
    </div>
  </div>
</footer>
